IMS/Web References/wrSales/wsSales.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddSale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sls" type="tns:Sale" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Sale">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SaleID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SaleDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Discount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Payment" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Balance" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddSaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddSaleResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Server2Client">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataTable">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="dataSet">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="AddSaleDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:SaleDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SaleDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SaleDetailID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BuyingValue" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SellingValue" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddSaleDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddSaleDetailsResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSales">
        <s:complexType />
      </s:element>
      <s:element name="GetSalesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSalesByInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSalesByInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSalesByInvoiceResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSalesByInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSalesByInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteSalesByInvoiceResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerByInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerByInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerByInvoiceResult" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Balance" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getSoldProductsByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSoldProductsByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSoldProductsByDateResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSoldProductsByDates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dtFR" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dtTO" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSoldProductsByDatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSoldProductsByDatesResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSoldProductsByInvoiceNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSoldProductsByInvoiceNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSoldProductsByInvoiceNoResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProfitLossByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProfitLossByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProfitLossByDateResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProfitLossByDates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dtFR" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dtTO" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProfitLossByDatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProfitLossByDatesResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalesToCustomerByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalesToCustomerByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalesToCustomerByIDResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalesToCustomerByDates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dtF" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dtT" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalesToCustomerByDatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalesToCustomerByDatesResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSaleSoapIn">
    <wsdl:part name="parameters" element="tns:AddSale" />
  </wsdl:message>
  <wsdl:message name="AddSaleSoapOut">
    <wsdl:part name="parameters" element="tns:AddSaleResponse" />
  </wsdl:message>
  <wsdl:message name="AddSaleDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:AddSaleDetails" />
  </wsdl:message>
  <wsdl:message name="AddSaleDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:AddSaleDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalesSoapIn">
    <wsdl:part name="parameters" element="tns:GetSales" />
  </wsdl:message>
  <wsdl:message name="GetSalesSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesResponse" />
  </wsdl:message>
  <wsdl:message name="getSalesByInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:getSalesByInvoice" />
  </wsdl:message>
  <wsdl:message name="getSalesByInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:getSalesByInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSalesByInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSalesByInvoice" />
  </wsdl:message>
  <wsdl:message name="DeleteSalesByInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSalesByInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerByInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerByInvoice" />
  </wsdl:message>
  <wsdl:message name="GetCustomerByInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerByInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="getSoldProductsByDateSoapIn">
    <wsdl:part name="parameters" element="tns:getSoldProductsByDate" />
  </wsdl:message>
  <wsdl:message name="getSoldProductsByDateSoapOut">
    <wsdl:part name="parameters" element="tns:getSoldProductsByDateResponse" />
  </wsdl:message>
  <wsdl:message name="getSoldProductsByDatesSoapIn">
    <wsdl:part name="parameters" element="tns:getSoldProductsByDates" />
  </wsdl:message>
  <wsdl:message name="getSoldProductsByDatesSoapOut">
    <wsdl:part name="parameters" element="tns:getSoldProductsByDatesResponse" />
  </wsdl:message>
  <wsdl:message name="getSoldProductsByInvoiceNoSoapIn">
    <wsdl:part name="parameters" element="tns:getSoldProductsByInvoiceNo" />
  </wsdl:message>
  <wsdl:message name="getSoldProductsByInvoiceNoSoapOut">
    <wsdl:part name="parameters" element="tns:getSoldProductsByInvoiceNoResponse" />
  </wsdl:message>
  <wsdl:message name="getProfitLossByDateSoapIn">
    <wsdl:part name="parameters" element="tns:getProfitLossByDate" />
  </wsdl:message>
  <wsdl:message name="getProfitLossByDateSoapOut">
    <wsdl:part name="parameters" element="tns:getProfitLossByDateResponse" />
  </wsdl:message>
  <wsdl:message name="getProfitLossByDatesSoapIn">
    <wsdl:part name="parameters" element="tns:getProfitLossByDates" />
  </wsdl:message>
  <wsdl:message name="getProfitLossByDatesSoapOut">
    <wsdl:part name="parameters" element="tns:getProfitLossByDatesResponse" />
  </wsdl:message>
  <wsdl:message name="SalesToCustomerByIDSoapIn">
    <wsdl:part name="parameters" element="tns:SalesToCustomerByID" />
  </wsdl:message>
  <wsdl:message name="SalesToCustomerByIDSoapOut">
    <wsdl:part name="parameters" element="tns:SalesToCustomerByIDResponse" />
  </wsdl:message>
  <wsdl:message name="SalesToCustomerByDatesSoapIn">
    <wsdl:part name="parameters" element="tns:SalesToCustomerByDates" />
  </wsdl:message>
  <wsdl:message name="SalesToCustomerByDatesSoapOut">
    <wsdl:part name="parameters" element="tns:SalesToCustomerByDatesResponse" />
  </wsdl:message>
  <wsdl:portType name="wsSalesSoap">
    <wsdl:operation name="AddSale">
      <wsdl:input message="tns:AddSaleSoapIn" />
      <wsdl:output message="tns:AddSaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddSaleDetails">
      <wsdl:input message="tns:AddSaleDetailsSoapIn" />
      <wsdl:output message="tns:AddSaleDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSales">
      <wsdl:input message="tns:GetSalesSoapIn" />
      <wsdl:output message="tns:GetSalesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSalesByInvoice">
      <wsdl:input message="tns:getSalesByInvoiceSoapIn" />
      <wsdl:output message="tns:getSalesByInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesByInvoice">
      <wsdl:input message="tns:DeleteSalesByInvoiceSoapIn" />
      <wsdl:output message="tns:DeleteSalesByInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByInvoice">
      <wsdl:input message="tns:GetCustomerByInvoiceSoapIn" />
      <wsdl:output message="tns:GetCustomerByInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSoldProductsByDate">
      <wsdl:input message="tns:getSoldProductsByDateSoapIn" />
      <wsdl:output message="tns:getSoldProductsByDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSoldProductsByDates">
      <wsdl:input message="tns:getSoldProductsByDatesSoapIn" />
      <wsdl:output message="tns:getSoldProductsByDatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSoldProductsByInvoiceNo">
      <wsdl:input message="tns:getSoldProductsByInvoiceNoSoapIn" />
      <wsdl:output message="tns:getSoldProductsByInvoiceNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getProfitLossByDate">
      <wsdl:input message="tns:getProfitLossByDateSoapIn" />
      <wsdl:output message="tns:getProfitLossByDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getProfitLossByDates">
      <wsdl:input message="tns:getProfitLossByDatesSoapIn" />
      <wsdl:output message="tns:getProfitLossByDatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalesToCustomerByID">
      <wsdl:input message="tns:SalesToCustomerByIDSoapIn" />
      <wsdl:output message="tns:SalesToCustomerByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalesToCustomerByDates">
      <wsdl:input message="tns:SalesToCustomerByDatesSoapIn" />
      <wsdl:output message="tns:SalesToCustomerByDatesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSalesSoap" type="tns:wsSalesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSale">
      <soap:operation soapAction="http://tempuri.org/AddSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSaleDetails">
      <soap:operation soapAction="http://tempuri.org/AddSaleDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSales">
      <soap:operation soapAction="http://tempuri.org/GetSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSalesByInvoice">
      <soap:operation soapAction="http://tempuri.org/getSalesByInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesByInvoice">
      <soap:operation soapAction="http://tempuri.org/DeleteSalesByInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByInvoice">
      <soap:operation soapAction="http://tempuri.org/GetCustomerByInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSoldProductsByDate">
      <soap:operation soapAction="http://tempuri.org/getSoldProductsByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSoldProductsByDates">
      <soap:operation soapAction="http://tempuri.org/getSoldProductsByDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSoldProductsByInvoiceNo">
      <soap:operation soapAction="http://tempuri.org/getSoldProductsByInvoiceNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfitLossByDate">
      <soap:operation soapAction="http://tempuri.org/getProfitLossByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfitLossByDates">
      <soap:operation soapAction="http://tempuri.org/getProfitLossByDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesToCustomerByID">
      <soap:operation soapAction="http://tempuri.org/SalesToCustomerByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesToCustomerByDates">
      <soap:operation soapAction="http://tempuri.org/SalesToCustomerByDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsSalesSoap12" type="tns:wsSalesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSale">
      <soap12:operation soapAction="http://tempuri.org/AddSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSaleDetails">
      <soap12:operation soapAction="http://tempuri.org/AddSaleDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSales">
      <soap12:operation soapAction="http://tempuri.org/GetSales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSalesByInvoice">
      <soap12:operation soapAction="http://tempuri.org/getSalesByInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesByInvoice">
      <soap12:operation soapAction="http://tempuri.org/DeleteSalesByInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByInvoice">
      <soap12:operation soapAction="http://tempuri.org/GetCustomerByInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSoldProductsByDate">
      <soap12:operation soapAction="http://tempuri.org/getSoldProductsByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSoldProductsByDates">
      <soap12:operation soapAction="http://tempuri.org/getSoldProductsByDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSoldProductsByInvoiceNo">
      <soap12:operation soapAction="http://tempuri.org/getSoldProductsByInvoiceNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfitLossByDate">
      <soap12:operation soapAction="http://tempuri.org/getProfitLossByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfitLossByDates">
      <soap12:operation soapAction="http://tempuri.org/getProfitLossByDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesToCustomerByID">
      <soap12:operation soapAction="http://tempuri.org/SalesToCustomerByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesToCustomerByDates">
      <soap12:operation soapAction="http://tempuri.org/SalesToCustomerByDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsSales">
    <wsdl:port name="wsSalesSoap" binding="tns:wsSalesSoap">
      <soap:address location="http://localhost:58540/wsSales.asmx" />
    </wsdl:port>
    <wsdl:port name="wsSalesSoap12" binding="tns:wsSalesSoap12">
      <soap12:address location="http://localhost:58540/wsSales.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>